BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 100
AlignAfterOpenBracket: DontAlign
BreakBeforeBinaryOperators: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SpaceBeforeRangeBasedForLoopColon: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment